.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color:darkslategray;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding-top: 15px;
    font-size: 6.4vw;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
    cursor: pointer;

}

@media (min-width: 1000px) {
    .header {
        font-size: 5vw;
        padding-bottom: 15px;
    }
}