* {
    scroll-behavior: smooth;
}

.app {
    min-height: 100vh;
    background-color:darkgrey;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media(min-width: 700px) {
    .app {
        padding-top: 130px;
    }
}

.pageTitle {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 6.4vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
}

@media (min-width: 1000px) {
    .pageTitle {
        font-size: 2vw;
    }
}